@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-primary: #203f30;
  --color-primary-foreground: white;

  --color-secondary: #dbfb1e;
  --color-secondary-foreground: #203f30;

  --color-accent: #9cca46;
  --color-accent-foreground: white;

  --color-background: white;
  --color-foreground: #1a1a1a;

  --color-muted: #f4f4f4;
  --color-muted-foreground: #666666;

  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #9cca46;

  --color-destructive: #ef4444;
  --color-destructive-foreground: white;

  --color-card: white;
  --color-card-foreground: #1a1a1a;

  --color-popover: white;
  --color-popover-foreground: #1a1a1a;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-w-screen;
  }

  html {
    @apply  overflow-x-hidden scroll-smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
